body {
    margin: 0;

    /* Displaying the canvas in the middle so it works on smaller screens*/

    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

canvas{
    border-radius: 15px;
}

p {
 font-family: 'Courier New', Courier, monospace;
 color: white;   
}

.text span {
    opacity: 0;
    font-family: 'Courier New', Courier, monospace;
 }
 .text span.revealed {
    opacity: 1;
 }
 .text span.green {
    color: #27ae60;
 }
 .text span.red {
    color: #ff0000;
 }
 
 